{% extends "web/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="container">
    <div class="row my-5">
      <div class="col-md-12">
        <form action="" method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% if object %}
            <a class="btn btn-secondary" href="{% url "leftovers-detail" object.id %}">Back</a>
          {% else %}
            <a class="btn btn-secondary" href="{% url "leftovers-all" %}">Back</a>
          {% endif %}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
